<h1>{{question}}</h1>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="questionTitle">Question Title</label>
      {{input value=questionTitle id="questionTitle" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      {{textarea value=description id="description" class="form-control" rows="15"}}
    </div>

    <button class="btn blue-btn" {{action 'doneEditing'}}>Save</button>
    <button class="btn delete-btn" {{action 'delete'}}>Delete</button>
  </form>

{{else}}
  <h4><strong>{{model.questionTitle}}</strong></h4>
  <h6>by {{model.author}}</h6>
  <p>{{model.description}}</p>

  <button class="btn btn-xs blue-btn" {{action 'edit'}}>Edit</button>
{{/if}}
<hr>
{{outlet}}
<h4><strong>Answers</strong></h4>

{{#each answers}}
  <p>
    {{text}}
  </p>
{{/each}}
<hr>
<p>{{#link-to 'new-answer' this class="btn success-btn"}}Add a new answer{{/link-to}}</p>
